fastapi
uvicorn
python-dotenv
psycopg2-binary
sqlalchemy
pydantic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
reportlab
supabase==2.3.0
razorpay
sendgrid
openai
python-multipart
apscheduler
pandas
openpyxl
anthropic
pydantic-settings
twilio
requests
